@import "src/styles";

footer {
  background-color: $color-primary-dark;
  padding-top: 20px;
}

#footer ul li {
  list-style: none;
  list-style-type: none;
}

footer span {
  font-weight: bold;
  color: $color-primary;
}
