<footer id="footer" class="text-light">
  <div class="row no-gutters">

    <div class="col-sm">

      <div class="row">
        <div class="col-sm">
          <ul>
            <li><span>Legals</span></li>
            <li>Partners</li>
            <li>About</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul>
            <li><span>FAQ</span></li>
            <li>Licensing</li>
            <li>Fees</li>
            <li>Angular v{{ver}}</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul>
            <li><span>Partners</span></li>
            <li>For Restaurants</li>
            <li>Affiliates</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm text-center">
      <b>Rainkey LLC</b>
      <p class="small">&copy;{{currentYear}}</p>
    </div>

    <div class="col-sm">

      <div class="row">
        <div class="col-sm">
          <fa-icon [icon]="['fab', 'facebook-square']" size="3x"></fa-icon>
        </div>
        <div class="col-sm">
          <fa-icon [icon]="['fab', 'twitter-square']" size="3x"></fa-icon>
        </div>
<!--        <div class="col-sm">-->
<!--          <fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <fa-icon [icon]="['fab', 'youtube']" size="3x"></fa-icon>-->
<!--        </div>-->
      </div>

    </div>

  </div>
</footer>
