<div class="row">
  <div class="col-12 mb-2">
    <div class="card c-drop-shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Step 1</h1>
          </div>
          <ng-container *ngTemplateOutlet="checkMarkTemplate"></ng-container>
        </div>
        <p class="lead">Create a user account</p>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2">
    <div class="card c-drop-shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Step 2</h1>
          </div>
          <ng-container *ngTemplateOutlet="checkMarkTemplate"></ng-container>
        </div>
        <p class="lead">Register a merchant account</p>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2">
    <div class="card c-drop-shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Step 3</h1>
          </div>
          <ng-container *ngTemplateOutlet="checkMarkTemplate"></ng-container>
        </div>
        <p class="lead">Register your bank</p>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2">
    <div class="card c-drop-shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">Step 4</h1>
          </div>
          <ng-container *ngTemplateOutlet="checkMarkTemplate"></ng-container>
        </div>
        <p class="lead">Add your products to go live</p>
      </div>
    </div>
  </div>
</div>

<ng-template #checkMarkTemplate>
  <div class="col">
    <div class="p-2 text-center check-mark-custom">
      <fa-icon icon="check" size="3x" transform="grow-9 right-4"></fa-icon>
    </div>
  </div>
</ng-template>
