.font-qty {
  width: 50px;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
  vertical-align: center;
  padding-top: 5px;
}

button#add-to-bag {
  margin-left: 10px;
}
button#add-to-bag span {
  width: 300px;
}
span.add-to-order-label {
  margin-right: 10px;
}
