<div>

  <app-loading-view [(isScreenLoading)]="isScreenLoading" [(isScreenInitError)]="isScreenInitError"></app-loading-view>

  <!-- this ngIf format combo with async allows us to display the section only after the data is loaded -->
  <div *ngIf="$order | async as order" class="card">

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">{{order.merchant.name | titlecase}}</h3>
      </div>
      <div id="merchant-info" class="card-body">
        // todo hard coded
        <p>todo - Open/Close - 7am - 9pm<br>
          3533 N Clairmont, Eau Claire, WI</p>
      </div>

    <div class="row">
      <div class="col">
      <h3>Order#: {{order.orderID}}</h3>
      </div>
    </div>

    <div class="list-group-flush">
      <div class="list-group-item" *ngFor="let p of order.orderItems">
        {{p.quantity}} : {{p.product.getName()}}
      </div>
    </div>

  </div>
</div>
