<h1>
  Merchants
</h1>
<div class="row">
  <input class="col-12" [defaultValue]="'search by name'">
</div>

<div class="row">
  <div class="col-12 list-group">
    <ng-container *ngFor="let merchant of merchants">
      <a class="list-group-item list-group-item-action"
         (click)="goToUserCreateOrderView(merchant.id)">
        {{merchant.name}}
      </a>
    </ng-container>
  </div>
</div>

<!--<div>-->
<!--  <table  class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Name</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tr *ngFor="let contact of merchants">-->
<!--      <td> {{ contact.id }} </td>-->
<!--      <td> {{ contact.name }} </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
