<div id="user-login-container">

  <!-- ngOnSubmit will handle pressing enter and when the form is done -->
  <form [formGroup]="formLogin" (ngSubmit)="login()">

    <!-- invalid submit feedback -->
    <div *ngIf="showLoginFailed" class="alert alert-danger" role="alert">
      Invalid password or email
    </div>
    <div *ngIf="showServerError" class="alert alert-danger" role="alert">
      Server Error - Try again later
    </div>

    <!-- email -->
    <div class="form-group">
      <label for="email_id" [hidden]="!emailFC.dirty || !emailFC.touched">Email</label>
      <input type="email" class="form-control" id="email_id" placeholder="email" [formControl]="emailFC">
    </div>

    <!-- passwords -->
    <div class="form-group">
      <input type="password" class="form-control" id="password_id" placeholder="password" [formControl]="passwordFC">
    </div>

    <button type="submit" class="btn btn-block btn-primary" [disabled]="!formLogin.valid">Login</button>
  </form>

  <hr>

  <button class="btn btn-primary btn-block" [routerLink]="'/' + ViewRoutes.USER_CREATE_PROFILE">Sign up</button>

  <div class="row text-center">
    <div class="col-12">
      <a class="text-dark" [routerLink]="'/' + ViewRoutes.USER_RESET_LOGIN">Forgot Password</a>
    </div>
  </div>

</div>
