<div class="row">
  <div class="col">
    <h1>Checkout</h1>

    <div class="card">
      <div class="card-body">
        You are ordering from ...
      </div>
    </div>

    <!-- Payment info -->
    <hr>
    <div>
      <h3>Payment</h3>
      <div class="btn-group btn-group-*">
        <button class="btn btn-primary">Change Card</button>
        <button class="btn btn-primary">Add New Card</button>
        <button class="btn btn-primary">PAYPAL</button>
      </div>
      <div>CardType: Mastercard</div>
      <div>Ending in: ...7272</div>
    </div>

    <!-- submit -->
    <hr>
    <div class="row">
      <div class="col-sm text-align-right">
        <button class="btn-dark btn" (click)="placeOrder()">Place Order</button>
      </div>
    </div>

  </div>
</div>
