<div class="row">
  <div class="col">
    <h1>Checkout</h1>

    <app-loading-view [(isScreenLoading)]="isScreenLoading" [(isScreenInitError)]="isScreenInitError"></app-loading-view>

    <!-- hidden cannot be used with ng-container or ng-structures -->
    <div *ngIf="$order | async as order">

      <!-- merchant display info -->
      <div *ngIf="order.merchant" class="card">
        <div class="card-header">{{order.merchant.name}}</div>
        <div class="card-body">
          <p>{{order.merchant.address}}</p>
        </div>
      </div>

      <!-- ordered items/products -->
      <div class="card">
        <ng-container *ngFor="let o of order.orderItems">
          <div class="list-group-item list-group-item-action">
            <span class="badge badge-dark">{{o.product.orderQTY}}</span>
            {{ (o.product.title.length>productNameMaxCharacter)? (o.product.title | slice:0:productNameMaxCharacter)+'...':(o.product.title) }}
            <span class="badge-pill float-right"> {{o.product.calculateTotalPrice() | currency:'USD':'symbol':'1.2-2'}} </span>
          </div>
        </ng-container>
      </div>

      <!-- subtotal and tax -->
      <div class="row mt-4">
        <div class="col-sm text-align-right">
          <div>
            <span>Subtotal: </span>{{order.sub_total | currency:'USD':'symbol':'1.2-2'}}
          </div>
          <div>
            <span>Tax: </span>{{order.tax | currency:'USD':'symbol':'1.2-2'}}
          </div>
          <div class="total-font">
            <strong>Total: {{order.order_total| currency:'USD':'symbol':'1.2-2'}}</strong>
          </div>
        </div>
      </div>

      <!-- Payment info -->
      <hr>
      <div>
        <h3>Payment</h3>
        <app-card-payment-view [loadedOrder]="order" [navigateUrlOnPaymentSuccess]="">
        </app-card-payment-view>
      </div>

    </div>

  </div>
</div>
