/* You can add global styles to this file, and also import other style files */

// this will make bootstrap scale all font-sizes respective to the value here.
html {
  font-size: 14px;
  background-color: #333333;
}

.text-warning {
  color: red;
}

.no-padding-right {
  padding-right: 0 !important;
}

// global variables
// to use global scss variables in component's css, you need to import the style into each component's css
$color-primary: #ffd400; // gold
$color-primary-dark: #333333;
