<div class="row">
  <div class="col-xl">

    <!-- ngOnSubmit will handle pressing enter and when the form is done -->
    <form [formGroup]="mainForm" (ngSubmit)="registerAccount()">

      <div *ngIf="showFormIncomplete" class="alert alert-danger" role="alert">
        Please fill in incompleted fields
      </div>
      <div *ngIf="showServerError" class="alert alert-danger" role="alert">
        Server Error - Try again later
      </div>

      <!-- first name -->
      <div class="form-group row">
        <div class="col">
          <div class="input-group">
            <input id="firstName_fc" name="firstName_fc" placeholder="First Name" type="text" class="form-control" [formControl]="firstNameFC">
            <div class="input-group-append" *ngIf="(firstNameFC.dirty || firstNameFC.touched)" >
              <div class="input-group-text">
                <fa-icon class="invalid-color" *ngIf="firstNameFC.invalid && firstNameFC.errors.required; else greenCheck" icon="times"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last name -->
      <div class="form-group row">
        <div class="col">
          <div class="input-group">
            <input id="lastName_fc" name="lastName_fc" placeholder="Last Name" type="text" class="form-control" [formControl]="lastNameFC">
            <div class="input-group-append" *ngIf="(lastNameFC.dirty || lastNameFC.touched)" >
              <div class="input-group-text">
                <fa-icon class="invalid-color" *ngIf="lastNameFC.invalid && lastNameFC.errors.required; else greenCheck" icon="times"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1>Address</h1>

      <!-- street name -->
      <div class="form-group row">
        <div class="col">
          <div class="input-group">

            <input id="address1FC" name="lastName_fc" placeholder="street" type="text" class="form-control" [formControl]="address1FC">
            <div class="input-group-append" *ngIf="(address1FC.dirty || address1FC.touched)" >
              <div class="input-group-text">
                <fa-icon class="invalid-color" *ngIf="address1FC.invalid && address1FC.errors.required; else greenCheck" icon="times"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- agree to terms -->
      <hr>
      <div class="form-row">
        <div class="col text-center">
          <a class="btn btn-sm btn-secondary btn-block text-light" (click)="openTermsAndConditionModal()">Read terms and conditions</a>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="agree-terms-fc" [formControl]="agreedToTermsFC" required>
            <label class="form-check-label" for="agree-terms-fc">
              Agree to terms and conditions
            </label>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-block btn-primary" [disabled]="!mainForm.valid">Register</button>
    </form>

  </div>
</div>

<ng-template #greenCheck><fa-icon style="color: green" icon="check"></fa-icon></ng-template>
