<div>
  <div>

    <form [formGroup]="formCreate" (ngSubmit)="create()">

      <div *ngIf="showCreateAccountFailed" class="alert alert-danger" role="alert">
        Invalid password or email
      </div>
      <div *ngIf="showServerError" class="alert alert-danger" role="alert">
        Server Error - Try again later
      </div>

      <div class="form-group">
        <input type="email" class="form-control" id="email_id" placeholder="email" [formControl]="emailFC">
        <div *ngIf="emailFC.invalid && (emailFC.dirty || emailFC.touched)" class="alert alert-danger form-field-invalid">
          <div *ngIf="emailFC.errors.required">email is required. </div>
          <div *ngIf="emailFC.errors.email">enter valid email. </div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="password_id" placeholder="password" [formControl]="passwordFC">
        <div *ngIf="passwordFC.invalid && (passwordFC.dirty || passwordFC.touched)" class="alert alert-danger form-field-invalid">
          <div *ngIf="passwordFC.errors.required">password is required. </div>
          <div *ngIf="passwordFC.errors.minlength">password must be at least 4 characters long.</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="password2_id" placeholder="Confirm password" [formControl]="password2FC">
        <div *ngIf="password2FC.invalid && (password2FC.dirty || password2FC.touched)" class="alert alert-danger form-field-invalid">
          <div *ngIf="password2FC.errors.required">password confirmation is required. </div>
          <div *ngIf="password2FC.errors.minlength">password must be at least 4 characters long.</div>
        </div>
      </div>

      <!-- todo not  yet working as a required -->
      <app-terms-and-condition-view ></app-terms-and-condition-view>

      <button type="submit" class="btn btn-block btn-primary" [disabled]="!formCreate.valid">Create</button>
    </form>

  </div>
  <br>

</div>
